@import url(./null.css);
body {
  font-family: "Inter";
}

.container {
  max-width: 1120px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 40px;
    margin: 0;
  }
}

@media (max-width: 375px) {
  .container {
    padding: 0 20px;
  }
}

.head {
  background: url(../img/head-blur.png) center/100% 100% no-repeat;
}

.header {
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .header {
    padding: 20px 0;
  }
}

@media (max-width: 375px) {
  .header {
    padding: 12px 0;
  }
}

.header__logo img {
  width: 183px;
}

@media (max-width: 768px) {
  .header__logo img {
    width: 91px;
    display: none;
  }
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}

@media (max-width: 1200px) {
  .header__nav ul {
    gap: 2.5vw;
  }
}

@media (max-width: 900px) {
  .header__nav ul {
    display: none;
  }
}

.header__nav ul li a {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: #333333;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.header__nav ul li a::after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #333333;
  content: "";
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

.header__nav ul li a:hover:after, .header__nav ul li a:focus:after {
  width: 100%;
}

.header__right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.header__log-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 109px;
  height: 44px;
  background: linear-gradient(225deg, #00b9b6 0%, #00cdac 100%);
  -webkit-box-shadow: 0px 15px 30px rgba(220, 232, 243, 0.25);
          box-shadow: 0px 15px 30px rgba(220, 232, 243, 0.25);
  border-radius: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: solid 1px #00b9b6;
  cursor: pointer;
}

.header__log-in:hover {
  background: #fff;
  color: #00b9b6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .dd-container {
  width: 85px !important;
}

.header .dd-container .dd-select {
  width: 85px !important;
  border: 0;
  background: transparent !important;
}

.header .dd-container .dd-select .dd-selected {
  height: 36px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}

.header .dd-container .dd-select .dd-selected .dd-selected-image {
  width: 26px;
  margin: 0;
}

.header .dd-container .dd-select .dd-selected .dd-selected-text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #333333;
}

.header .dd-container .dd-select .dd-pointer {
  border: 0 !important;
  width: 12px;
  height: 12px;
  background: url(../img/header/chevron.svg) no-repeat;
  right: 5px;
}

.header .dd-container .dd-select .dd-pointer-up {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header .dd-container .dd-options {
  width: 85px !important;
  border: 0;
}

.header .dd-container .dd-options li .dd-option {
  height: 36px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  border: 0;
}

.header .dd-container .dd-options li .dd-option .dd-option-image {
  width: 26px;
  margin: 0;
}

.header .dd-container .dd-options li .dd-option .dd-option-text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #333333;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 82px 0 0 0;
  padding: 0 0 175px 0;
}

@media (max-width: 1200px) {
  .main {
    margin: 50px 0 0 0;
    padding: 0 0 11vw 0;
  }
}

@media (max-width: 650px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 30px 0 0 0;
    padding: 0;
    gap: 30px;
  }
}

.main__text {
  z-index: 1;
}

@media (max-width: 650px) {
  .main__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #00b9b6;
  padding: 40px 0 0 0;
}

@media (max-width: 1200px) {
  .main__subtitle {
    padding: 3vw 0 0 0;
    font-size: 16px;
  }
}

@media (max-width: 650px) {
  .main__subtitle {
    padding: 0;
  }
}

@media (max-width: 450px) {
  .main__subtitle {
    text-align: center;
  }
}

.main__title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #0e0e0f;
  padding: 0 0 50px 0;
}

@media (max-width: 1200px) {
  .main__title {
    padding: 0 0 30px 0;
  }
}

@media (max-width: 950px) {
  .main__title {
    font-size: 32px;
    padding: 0 0 50px 0;
  }
}

@media (max-width: 650px) {
  .main__title {
    text-align: center;
    padding: 0 0 30px 0;
  }
}

@media (max-width: 450px) {
  .main__title {
    font-size: 28px;
  }
}

@media (max-width: 350px) {
  .main__title {
    font-size: 24px;
  }
}

.main__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 196px;
  height: 48px;
  background: linear-gradient(225deg, #00b9b6 0%, #00cdac 100%);
  -webkit-box-shadow: 0px 15px 30px rgba(220, 232, 243, 0.25);
          box-shadow: 0px 15px 30px rgba(220, 232, 243, 0.25);
  border-radius: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: solid 1px #00b9b6;
  cursor: pointer;
}

.main__button:hover {
  background: #fff;
  color: #00b9b6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main__image {
  position: absolute;
  left: 50%;
  width: calc(50% + 40px);
  overflow-x: hidden;
}

@media (max-width: 650px) {
  .main__image {
    position: relative;
    left: 0;
    width: 100%;
    overflow-x: auto;
  }
}

.main__image img {
  width: 110%;
}

@media (max-width: 650px) {
  .main__image img {
    width: 100%;
  }
}

.app {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% 40.7%;
      grid-template-columns: 55% 40.7%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 140px 0;
}

@media (max-width: 1200px) {
  .app {
    padding: 80px 0;
  }
}

@media (max-width: 900px) {
  .app {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 50px;
  }
}

@media (max-width: 450px) {
  .app {
    gap: 30px;
  }
}

.app__video-block {
  width: 100%;
}

@media (max-width: 900px) {
  .app__video-block {
    width: 65%;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .app__video-block {
    width: 100%;
  }
}

.app__video-block img {
  width: 100%;
}

.app__text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 1000px) {
  .app__text-block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 900px) {
  .app__text-block {
    gap: 30px;
  }
}

.app__title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: #0e0e0f;
}

@media (max-width: 768px) {
  .app__title {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .app__title {
    font-size: 28px;
  }
}

@media (max-width: 375px) {
  .app__title {
    font-size: 24px;
  }
}

.app__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.app__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 12px;
  max-width: 139.03px;
  height: 44px;
  background: #2e3a59;
  -webkit-box-shadow: 0px 15px 30px rgba(220, 232, 243, 0.25);
          box-shadow: 0px 15px 30px rgba(220, 232, 243, 0.25);
  border-radius: 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.app__button:hover {
  background: #b3b3b3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.app__button img {
  width: 100%;
}

.app-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90px auto;
      grid-template-columns: 90px auto;
  gap: 5px 20px;
}

.app-content__image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  border-radius: 12px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app-content__image img {
  width: 62px;
}

.app-content__title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  text-transform: uppercase;
  color: #00b9b6;
}

.app-content__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333333;
}

@media (max-width: 420px) {
  .app-content__subtitle {
    font-size: 14px;
  }
}

.workers__title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: #0e0e0f;
  text-align: center;
  padding: 0 0 50px 0;
}

@media (max-width: 768px) {
  .workers__title {
    font-size: 28px;
    padding: 0 0 30px 0;
  }
}

@media (max-width: 450px) {
  .workers__title {
    font-size: 24px;
  }
}

@media (max-width: 350px) {
  .workers__title {
    font-size: 22px;
  }
}

.workers__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  padding: 0 0 50px 0;
}

@media (max-width: 768px) {
  .workers__buttons {
    padding: 0 0 30px 0;
  }
}

.workers__button {
  background: #ffffff;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  padding: 10px 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: #333333;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

@media (max-width: 768px) {
  .workers__button {
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .workers__button {
    font-size: 14px;
  }
}

.workers__button:hover {
  color: #00b9b6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.workers__button:focus {
  color: #ffffff;
  background: linear-gradient(225deg, #00b9b6 0%, #00cdac 100%);
  font-weight: 700;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.workers__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.workers__slider .slick-dots li {
  width: 20px;
  height: 6px;
}

.workers__slider .slick-dots li button::before {
  width: 20px;
  height: 6px;
  background-color: #00b9b6;
  border-radius: 3px;
  content: "";
}

.workers__slider .slick-dots .slick-active {
  width: 30px;
  height: 6px;
}

.workers__slider .slick-dots .slick-active button::before {
  width: 30px;
  height: 6px;
  background-color: #00b9b6;
  border-radius: 3px;
  content: "";
}

.worker {
  padding: 15px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  height: auto !important;
}

.worker__photo {
  width: 100%;
}

.worker__photo img {
  width: 100%;
}

.worker__name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #333333;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 1024px) {
  .worker__name {
    font-size: 16px;
  }
}

.worker__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.worker__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.worker__arrow {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */