@import url(./null.css);

$main-color: #00b9b6;

body {
  font-family: "Inter";
}

.container {
  max-width: 1120px;
  margin: auto;

  @media (max-width: 1200px) {
    width: 100%;
    padding: 0 40px;
    margin: 0;
  }

  @media (max-width: 375px) {
    padding: 0 20px;
  }
}

.first-blur {
  background: url(../img/first-blur.png) center/100% 100% no-repeat;
}

.header {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    padding: 20px 0;
  }

  @media (max-width: 375px) {
    padding: 12px 0;
  }

  &__logo {
    img {
      width: 183px;

      @media (max-width: 768px) {
        width: 91px;
        display: none;
      }
    }
  }

  &__nav {
    ul {
      display: flex;
      justify-content: space-between;
      gap: 40px;

      @media (max-width: 1200px) {
        gap: 2.5vw;
      }

      @media (max-width: 900px) {
        display: none;
      }

      li {
        a {
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 120%;
          text-align: center;
          color: #333333;
          position: relative;
          cursor: pointer;
          text-decoration: none;

          &::after {
            display: block;
            position: absolute;
            left: 0;
            width: 0;
            height: 2px;
            background-color: #333333;
            content: "";
            transition: width 0.3s ease-out;
          }
          &:hover:after,
          &:focus:after {
            width: 100%;
          }
        }
      }
    }
  }

  &__right-block {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__log-in {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 109px;
    height: 44px;
    background: linear-gradient(225deg, #00b9b6 0%, #00cdac 100%);
    box-shadow: 0px 15px 30px rgba(220, 232, 243, 0.25);
    border-radius: 12px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #ffffff;
    transition: 0.5s;
    border: solid 1px $main-color;
    cursor: pointer;

    &:hover {
      background: #fff;
      color: $main-color;
      transition: 0.5s;
    }
  }

  .dd-container {
    width: 85px !important;

    .dd-select {
      width: 85px !important;
      border: 0;
      background: transparent !important;

      .dd-selected {
        height: 36px;
        padding: 5px;
        display: flex;
        align-items: center;
        gap: 6px;

        .dd-selected-image {
          width: 26px;
          margin: 0;
        }

        .dd-selected-text {
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 120%;
          color: #333333;
        }
      }

      .dd-pointer {
        border: 0 !important;
        width: 12px;
        height: 12px;
        background: url(../img/header/chevron.svg) no-repeat;
        right: 5px;
      }

      .dd-pointer-up {
        transform: rotate(180deg);
      }
    }

    .dd-options {
      width: 85px !important;
      border: 0;

      li {
        .dd-option {
          height: 36px;
          padding: 5px;
          display: flex;
          align-items: center;
          gap: 6px;
          border: 0;

          .dd-option-image {
            width: 26px;
            margin: 0;
          }
          .dd-option-text {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 120%;
            color: #333333;
          }
        }
      }
    }
  }
}

.main {
  display: flex;
  position: relative;
  margin: 82px 0 0 0;
  padding: 0 0 175px 0;

  @media (max-width: 1200px) {
    margin: 50px 0 0 0;
    padding: 0 0 11vw 0;
  }

  @media (max-width: 650px) {
    flex-direction: column;
    margin: 30px 0 0 0;
    padding: 0;
    gap: 30px;
  }

  &__text {
    z-index: 1;

    @media (max-width: 650px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #00b9b6;
    padding: 40px 0 0 0;

    @media (max-width: 1200px) {
      padding: 3vw 0 0 0;
      font-size: 16px;
    }

    @media (max-width: 650px) {
      padding: 0;
    }

    @media (max-width: 450px) {
      text-align: center;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    color: #0e0e0f;
    padding: 0 0 50px 0;

    @media (max-width: 1200px) {
      padding: 0 0 30px 0;
    }

    @media (max-width: 950px) {
      font-size: 32px;
      padding: 0 0 50px 0;
    }

    @media (max-width: 650px) {
      text-align: center;
      padding: 0 0 30px 0;
    }

    @media (max-width: 450px) {
      font-size: 28px;
    }

    @media (max-width: 350px) {
      font-size: 24px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 196px;
    height: 48px;
    background: linear-gradient(225deg, #00b9b6 0%, #00cdac 100%);
    box-shadow: 0px 15px 30px rgba(220, 232, 243, 0.25);
    border-radius: 12px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #ffffff;
    transition: 0.5s;
    border: solid 1px $main-color;
    cursor: pointer;

    &:hover {
      background: #fff;
      color: $main-color;
      transition: 0.5s;
    }
  }

  &__image {
    position: absolute;
    left: 50%;
    width: calc(50% + 40px);
    overflow-x: hidden;

    @media (max-width: 650px) {
      position: relative;
      left: 0;
      width: 100%;
      overflow-x: auto;
    }

    img {
      width: 110%;

      @media (max-width: 650px) {
        width: 100%;
      }
    }
  }
}

.app {
  display: grid;
  grid-template-columns: 55% 40.7%;
  justify-content: space-between;
  padding: 140px 0;

  @media (max-width: 1200px) {
    padding: 80px 0;
  }

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  @media (max-width: 450px) {
    gap: 30px;
  }

  &__video-block {
    width: 100%;

    @media (max-width: 900px) {
      width: 65%;
      margin: auto;
    }

    @media (max-width: 768px) {
      width: 100%;
    }

    img {
      width: 100%;
    }
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @media (max-width: 1000px) {
      justify-content: space-between;
    }

    @media (max-width: 900px) {
      gap: 30px;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #0e0e0f;

    @media (max-width: 768px) {
      font-size: 28px;
    }

    @media (max-width: 768px) {
      font-size: 28px;
    }

    @media (max-width: 375px) {
      font-size: 24px;
    }
  }

  &__buttons {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    max-width: 139.03px;
    height: 44px;
    background: #2e3a59;
    box-shadow: 0px 15px 30px rgba(220, 232, 243, 0.25);
    border-radius: 8px;
    transition: 0.5s;
    // border: solid 1px #2e3a59;
    cursor: pointer;

    &:hover {
      background: #b3b3b3;
      transition: 0.5s;
    }

    img {
      width: 100%;
    }
  }
}

.app-content {
  display: grid;
  grid-template-columns: 90px auto;
  gap: 5px 20px;

  &__image {
    grid-row: 1/3;
    border-radius: 12px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 62px;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    text-transform: uppercase;
    color: #00b9b6;
  }

  &__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333333;

    @media (max-width: 420px) {
      font-size: 14px;
    }
  }
}

.second-blur {
  background: url(../img/second-blur.png) center/100% 100% no-repeat;
}

.workers {
  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #0e0e0f;
    text-align: center;
    padding: 0 0 50px 0;

    @media (max-width: 768px) {
      font-size: 28px;
      padding: 0 0 30px 0;
    }

    @media (max-width: 450px) {
      font-size: 24px;
    }

    @media (max-width: 350px) {
      font-size: 22px;
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 0 0 50px 0;

    @media (max-width: 768px) {
      padding: 0 0 30px 0;
    }
  }

  &__button {
    background: #ffffff;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    padding: 10px 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: #333333;
    transition: 0.5s;
    cursor: pointer;

    @media (max-width: 768px) {
      font-size: 16px;
    }

    @media (max-width: 450px) {
      font-size: 14px;
    }

    &:hover {
      color: $main-color;
      transition: 0.5s;
    }

    &:focus {
      color: #ffffff;
      background: linear-gradient(225deg, #00b9b6 0%, #00cdac 100%);
      font-weight: 700;
      transition: 0.5s;
    }
  }

  &__slider {
    .slick-track {
      display: flex;
    }

    .slick-dots {
      li {
        width: 20px;
        height: 6px;

        button {
          &::before {
            width: 20px;
            height: 6px;
            background-color: rgba(0, 185, 182, 1);
            border-radius: 3px;
            content: "";
          }
        }
      }
      .slick-active {
        width: 30px;
        height: 6px;

        button {
          &::before {
            width: 30px;
            height: 6px;
            background-color: $main-color;
            border-radius: 3px;
            content: "";
          }
        }
      }
    }
  }
}

.worker {
  padding: 15px;
  display: flex !important;
  flex-direction: column;
  gap: 15px;
  height: auto !important;

  &__photo {
    width: 100%;

    img {
      width: 100%;
    }
  }

  &__name {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #333333;
    flex: 1 1 auto;

    @media (max-width: 1024px) {
      font-size: 16px;
    }
  }

  &__rating {
    display: flex;
    justify-content: space-between;
  }

  &__stars {
    display: flex;
    gap: 5px;
  }

  &__star {
  }

  &__arrow {
    cursor: pointer;
  }
}

.help {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 10px;
  padding: 150px 0 200px;

  @media (max-width: 1200px) {
    padding: 100px 0;
  }

  @media (max-width: 670px) {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  @media (max-width: 450px) {
    padding: 70px 0;
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: #0e0e0f;
    padding: 0 0 40px 0;

    @media (max-width: 1024px) {
      font-size: 32px;
    }

    @media (max-width: 768px) {
      font-size: 28px;
      padding: 0 0 30px 0;
    }

    @media (max-width: 360px) {
      font-size: 24px;
      text-align: center;
    }
  }

  &__list {
    display: grid;
    gap: 15px;
  }

  &__item {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #333333;
    padding: 0 0 0 30px;
    background: url(../img/help/check.svg) left top/20px 20px no-repeat;

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  &__picture-block {
    display: flex;
    align-items: center;

    img {
      width: 100%;
    }
  }
}

.advantages {
  padding: 0 30px 0 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  background: rgba(0, 185, 182, 0.1);
  border-radius: 24px;
  max-width: 1120px;
  margin: auto;

  @media (max-width: 1200px) {
    width: calc(100% - 80px);
    margin: 0 40px;
  }

  @media (max-width: 720px) {
    width: 100%;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0 40px;
    border-radius: 0;
  }

  @media (max-width: 375px) {
    padding: 0 20px;
  }

  &__picture-block {
    position: relative;
    top: -70px;

    @media (max-width: 1024px) {
      top: -50px;
    }

    @media (max-width: 720px) {
      margin: auto;
      width: 50%;
    }

    img {
      padding: 0 45px;
      width: 100%;

      @media (max-width: 900px) {
        padding: 0 20px;
      }
    }
  }

  &__text-block {
    padding: 50px 0 40px;

    @media (max-width: 720px) {
      padding: 0 0 40px;
      margin: -20px 0 0 0;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: #0e0e0f;
    padding: 0 0 40px 0;

    @media (max-width: 1024px) {
      font-size: 32px;
    }

    @media (max-width: 768px) {
      font-size: 28px;
      padding: 0 0 30px 0;
    }

    @media (max-width: 720px) {
      text-align: center;
    }

    @media (max-width: 450px) {
      font-size: 24px;
    }
  }

  &__list {
    display: grid;
    gap: 20px;
  }

  &__advantage {
    padding: 0 0 0 10px;
    position: relative;

    &::before {
      position: absolute;
      top: 9px;
      left: 0;
      content: "";
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $main-color;
    }

    h4 {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 120%;
      color: #0e0e0f;

      @media (max-width: 768px) {
        font-size: 18px;
      }
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: #0e0e0f;

      @media (max-width: 768px) {
        font-size: 16px;
      }
    }
  }
}

.selection {
  padding: 140px 0;

  @media (max-width: 1024px) {
    padding: 100px 0;
  }

  @media (max-width: 450px) {
    padding: 80px 0;
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: #0e0e0f;
    padding: 0 0 5px 0;

    @media (max-width: 1024px) {
      font-size: 32px;
    }

    @media (max-width: 768px) {
      font-size: 28px;
    }

    @media (max-width: 720px) {
      text-align: center;
    }

    @media (max-width: 450px) {
      font-size: 24px;
    }
  }

  &__subtitle {
  }

  &__content {
  }

  &__text {
  }

  &__list {
  }

  &__item {
  }

  &__picture {
  }
}
