@import url(./null.css);
body {
  font-family: "Inter";
}

.container {
  max-width: 1120px;
  margin: auto;
}

@media (max-width: 1234px) {
  .container {
    max-width: 100%;
    padding: 0 40px;
    margin: 0;
  }
}

@media (max-width: 450px) {
  .container {
    padding: 0 20px;
  }
}

.first-blur {
  background: url(../img/blurs/first-blur.png) center/100% 100% no-repeat;
}

.header {
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .header {
    padding: 20px 0;
  }
}

@media (max-width: 375px) {
  .header {
    padding: 12px 0;
  }
}

.header__logo img {
  width: 183px;
}

@media (max-width: 768px) {
  .header__logo img {
    width: 91px;
    display: none;
  }
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}

@media (max-width: 1200px) {
  .header__nav ul {
    gap: 2.5vw;
  }
}

@media (max-width: 900px) {
  .header__nav ul {
    display: none;
  }
}

.header__nav ul li a {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: #333333;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.header__nav ul li a::after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #333333;
  content: "";
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

.header__nav ul li a:hover:after, .header__nav ul li a:focus:after {
  width: 100%;
}

.header__right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.header__log-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 109px;
  height: 44px;
  background: linear-gradient(225deg, #00b9b6 0%, #00cdac 100%);
  -webkit-box-shadow: 0px 15px 30px rgba(220, 232, 243, 0.25);
          box-shadow: 0px 15px 30px rgba(220, 232, 243, 0.25);
  border-radius: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: solid 1px #00b9b6;
  cursor: pointer;
}

.header__log-in:hover {
  background: #fff;
  color: #00b9b6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .dd-container {
  width: 85px !important;
}

.header .dd-container .dd-select {
  width: 85px !important;
  border: 0;
  background: transparent !important;
}

.header .dd-container .dd-select .dd-selected {
  height: 36px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}

.header .dd-container .dd-select .dd-selected .dd-selected-image {
  width: 26px;
  margin: 0;
}

.header .dd-container .dd-select .dd-selected .dd-selected-text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #333333;
}

.header .dd-container .dd-select .dd-pointer {
  border: 0 !important;
  width: 12px;
  height: 12px;
  background: url(../img/header/chevron.svg) no-repeat;
  right: 5px;
}

.header .dd-container .dd-select .dd-pointer-up {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header .dd-container .dd-options {
  width: 85px !important;
  border: 0;
}

.header .dd-container .dd-options li .dd-option {
  height: 36px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  border: 0;
}

.header .dd-container .dd-options li .dd-option .dd-option-image {
  width: 26px;
  margin: 0;
}

.header .dd-container .dd-options li .dd-option .dd-option-text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #333333;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 82px 0 0 0;
  padding: 0 0 175px 0;
}

@media (max-width: 1200px) {
  .main {
    margin: 50px 0 0 0;
    padding: 0 0 11vw 0;
  }
}

@media (max-width: 650px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 30px 0 0 0;
    padding: 0;
    gap: 30px;
  }
}

.main__text {
  z-index: 1;
}

@media (max-width: 650px) {
  .main__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #00b9b6;
  padding: 40px 0 0 0;
}

@media (max-width: 1200px) {
  .main__subtitle {
    padding: 3vw 0 0 0;
    font-size: 16px;
  }
}

@media (max-width: 650px) {
  .main__subtitle {
    padding: 0;
  }
}

@media (max-width: 450px) {
  .main__subtitle {
    text-align: center;
  }
}

.main__title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #0e0e0f;
  padding: 0 0 50px 0;
}

@media (max-width: 1200px) {
  .main__title {
    padding: 0 0 30px 0;
  }
}

@media (max-width: 950px) {
  .main__title {
    font-size: 32px;
    padding: 0 0 50px 0;
  }
}

@media (max-width: 650px) {
  .main__title {
    text-align: center;
    padding: 0 0 30px 0;
  }
}

@media (max-width: 450px) {
  .main__title {
    font-size: 28px;
  }
}

@media (max-width: 350px) {
  .main__title {
    font-size: 24px;
  }
}

.main__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 196px;
  height: 48px;
  background: linear-gradient(225deg, #00b9b6 0%, #00cdac 100%);
  -webkit-box-shadow: 0px 15px 30px rgba(220, 232, 243, 0.25);
          box-shadow: 0px 15px 30px rgba(220, 232, 243, 0.25);
  border-radius: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: solid 1px #00b9b6;
  cursor: pointer;
}

.main__button:hover {
  background: #fff;
  color: #00b9b6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main__image {
  position: absolute;
  left: 50%;
  width: calc(50% + 40px);
  overflow-x: hidden;
}

@media (max-width: 650px) {
  .main__image {
    position: relative;
    left: 0;
    width: 100%;
    overflow-x: auto;
  }
}

.main__image img {
  width: 110%;
}

@media (max-width: 650px) {
  .main__image img {
    width: 100%;
  }
}

.app {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% 40.7%;
      grid-template-columns: 55% 40.7%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 140px 0;
}

@media (max-width: 1200px) {
  .app {
    padding: 80px 0;
  }
}

@media (max-width: 900px) {
  .app {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 50px;
  }
}

@media (max-width: 450px) {
  .app {
    gap: 30px;
  }
}

.app__video-block {
  width: 100%;
}

@media (max-width: 900px) {
  .app__video-block {
    width: 65%;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .app__video-block {
    width: 100%;
  }
}

.app__video-block img {
  width: 100%;
}

.app__text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 1000px) {
  .app__text-block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 900px) {
  .app__text-block {
    gap: 30px;
  }
}

.app__title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: #0e0e0f;
}

@media (max-width: 768px) {
  .app__title {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .app__title {
    font-size: 28px;
  }
}

@media (max-width: 375px) {
  .app__title {
    font-size: 24px;
  }
}

.app__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.app__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 12px;
  max-width: 139.03px;
  height: 44px;
  background: #2e3a59;
  -webkit-box-shadow: 0px 15px 30px rgba(220, 232, 243, 0.25);
          box-shadow: 0px 15px 30px rgba(220, 232, 243, 0.25);
  border-radius: 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.app__button:hover {
  background: #b3b3b3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.app__button img {
  width: 100%;
}

.app-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90px auto;
      grid-template-columns: 90px auto;
  gap: 5px 20px;
}

.app-content__image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  border-radius: 12px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app-content__image img {
  width: 62px;
}

.app-content__title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  text-transform: uppercase;
  color: #00b9b6;
}

.app-content__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333333;
}

@media (max-width: 420px) {
  .app-content__subtitle {
    font-size: 14px;
  }
}

.second-blur {
  background: url(../img/blurs/second-blur.png) center/100% 100% no-repeat;
}

.workers__title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: #0e0e0f;
  text-align: center;
  padding: 0 0 50px 0;
}

@media (max-width: 768px) {
  .workers__title {
    font-size: 28px;
    padding: 0 0 30px 0;
  }
}

@media (max-width: 450px) {
  .workers__title {
    font-size: 24px;
  }
}

@media (max-width: 350px) {
  .workers__title {
    font-size: 22px;
  }
}

.workers__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

.workers__button {
  background: #ffffff;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  padding: 10px 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: #333333;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

@media (max-width: 768px) {
  .workers__button {
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .workers__button {
    font-size: 14px;
  }
}

.workers__button:hover {
  color: #00b9b6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.workers__button:focus {
  color: #ffffff;
  background: linear-gradient(225deg, #00b9b6 0%, #00cdac 100%);
  font-weight: 700;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.workers__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 50px 0 35px;
}

@media (max-width: 768px) {
  .workers__slider .slick-track {
    padding: 30px 0 35px;
  }
}

.workers__slider .slick-dots li {
  width: 20px;
  height: 6px;
}

.workers__slider .slick-dots li button::before {
  width: 20px;
  height: 6px;
  background-color: #00b9b6;
  border-radius: 3px;
  content: "";
}

.workers__slider .slick-dots .slick-active {
  width: 30px;
  height: 6px;
}

.workers__slider .slick-dots .slick-active button::before {
  width: 30px;
  height: 6px;
  background-color: #00b9b6;
  border-radius: 3px;
  content: "";
}

.worker {
  background: #ffffff;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  padding: 15px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  height: auto !important;
}

.worker__photo {
  width: 100%;
}

.worker__photo img {
  width: 100%;
}

.worker__name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #333333;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 1024px) {
  .worker__name {
    font-size: 16px;
  }
}

.worker__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.worker__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.worker__arrow {
  cursor: pointer;
}

.help {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  gap: 10px;
  padding: 150px 0 200px;
}

@media (max-width: 1200px) {
  .help {
    padding: 100px 0;
  }
}

@media (max-width: 670px) {
  .help {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 20px;
  }
}

@media (max-width: 450px) {
  .help {
    padding: 70px 0;
  }
}

.help__text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.help__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #0e0e0f;
  padding: 0 0 40px 0;
}

@media (max-width: 1024px) {
  .help__title {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .help__title {
    font-size: 28px;
    padding: 0 0 30px 0;
  }
}

@media (max-width: 360px) {
  .help__title {
    font-size: 24px;
    text-align: center;
  }
}

.help__list {
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

.help__item {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #333333;
  padding: 0 0 0 30px;
  background: url(../img/help/check.svg) left top/20px 20px no-repeat;
}

@media (max-width: 768px) {
  .help__item {
    font-size: 16px;
  }
}

.help__picture-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help__picture-block img {
  width: 100%;
}

.advantages {
  padding: 0 30px 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  gap: 10px;
  background: rgba(0, 185, 182, 0.1);
  border-radius: 24px;
  max-width: 1120px;
  margin: auto;
}

@media (max-width: 1200px) {
  .advantages {
    width: calc(100% - 80px);
    margin: 0 40px;
  }
}

@media (max-width: 720px) {
  .advantages {
    width: 100%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 0;
    padding: 0 40px;
    border-radius: 0;
  }
}

@media (max-width: 375px) {
  .advantages {
    padding: 0 20px;
  }
}

.advantages__picture-block {
  position: relative;
  top: -70px;
}

@media (max-width: 1024px) {
  .advantages__picture-block {
    top: -50px;
  }
}

@media (max-width: 720px) {
  .advantages__picture-block {
    margin: auto;
    width: 50%;
  }
}

.advantages__picture-block img {
  padding: 0 45px;
  width: 100%;
}

@media (max-width: 900px) {
  .advantages__picture-block img {
    padding: 0 20px;
  }
}

.advantages__text-block {
  padding: 50px 0 40px;
}

@media (max-width: 720px) {
  .advantages__text-block {
    padding: 0 0 40px;
    margin: -20px 0 0 0;
  }
}

.advantages__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #0e0e0f;
  padding: 0 0 40px 0;
}

@media (max-width: 1024px) {
  .advantages__title {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .advantages__title {
    font-size: 28px;
    padding: 0 0 30px 0;
  }
}

@media (max-width: 720px) {
  .advantages__title {
    text-align: center;
  }
}

@media (max-width: 450px) {
  .advantages__title {
    font-size: 24px;
  }
}

.advantages__list {
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

.advantages__advantage {
  padding: 0 0 0 10px;
  position: relative;
}

.advantages__advantage::before {
  position: absolute;
  top: 9px;
  left: 0;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #00b9b6;
}

.advantages__advantage h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #0e0e0f;
}

@media (max-width: 768px) {
  .advantages__advantage h4 {
    font-size: 18px;
  }
}

.advantages__advantage p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #0e0e0f;
}

@media (max-width: 768px) {
  .advantages__advantage p {
    font-size: 16px;
  }
}

.third-blur {
  background: url(../img/blurs/third-blur.png) center/100% 100% no-repeat;
}

.selection {
  padding: 140px 0;
}

@media (max-width: 1024px) {
  .selection {
    padding: 100px 0;
  }
}

@media (max-width: 450px) {
  .selection {
    padding: 80px 0;
  }
}

.selection__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #0e0e0f;
  padding: 0 0 5px 0;
}

@media (max-width: 1024px) {
  .selection__title {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .selection__title {
    font-size: 28px;
  }
}

@media (max-width: 720px) {
  .selection__title {
    text-align: center;
  }
}

@media (max-width: 450px) {
  .selection__title {
    font-size: 24px;
  }
}

.selection__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #00b9b6;
  padding: 0 0 30px 0;
}

@media (max-width: 768px) {
  .selection__subtitle {
    font-size: 16px;
  }
}

@media (max-width: 720px) {
  .selection__subtitle {
    text-align: center;
  }
}

.selection__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .selection__content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.selection__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}

@media (max-width: 768px) {
  .selection__list {
    gap: 20px;
  }
}

.selection__item {
  padding: 20px 0 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@media (max-width: 900px) {
  .selection__item {
    padding: 20px 0 0 30px;
  }
}

@media (max-width: 1024px) {
  .selection__item:last-of-type {
    padding: 20px 0 0 50px;
  }
}

@media (max-width: 768px) {
  .selection__item:last-of-type {
    padding: 20px 0 0 30px;
  }
}

.selection__item h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #0e0e0f;
  padding: 0 0 5px 0;
}

@media (max-width: 768px) {
  .selection__item h4 {
    font-size: 18px;
  }
}

.selection__item p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #0e0e0f;
}

@media (max-width: 768px) {
  .selection__item p {
    font-size: 16px;
  }
}

.selection__item-number {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: 100%;
}

@media (max-width: 768px) {
  .selection__item-number {
    height: 75%;
  }
}

.selection__item-number img {
  height: 100%;
}

.selection__picture {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selection__picture img {
  width: 100%;
}

.about-service__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #0e0e0f;
  text-align: center;
  padding: 0 0 50px 0;
}

@media (max-width: 1024px) {
  .about-service__title {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .about-service__title {
    font-size: 28px;
  }
}

@media (max-width: 450px) {
  .about-service__title {
    font-size: 24px;
    padding: 0 0 40px 0;
  }
}

.about-service__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 67% 24%;
      grid-template-columns: 67% 24%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 66px 0;
}

@media (max-width: 1200px) {
  .about-service__content {
    -ms-grid-columns: 63% 32%;
        grid-template-columns: 63% 32%;
    padding: 0 0 50px 0;
  }
}

@media (max-width: 768px) {
  .about-service__content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 50px;
  }
}

@media (max-width: 450px) {
  .about-service__content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 40px;
    padding: 0 0 40px 0;
  }
}

@media (max-width: 768px) {
  .about-service__video-block {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

.about-service__video-block img {
  width: 100%;
}

.about-service__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1024px) {
  .about-service__list {
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .about-service__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 10px;
  }
}

.about-service__item {
  text-align: center;
}

.about-service__number {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #ffa800;
}

@media (max-width: 1024px) {
  .about-service__number {
    font-size: 42px;
  }
}

@media (max-width: 600px) {
  .about-service__number {
    font-size: 20px;
  }
}

@media (max-width: 350px) {
  .about-service__number {
    font-size: 16px;
  }
}

.about-service__description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #0e0e0f;
}

@media (max-width: 1024px) {
  .about-service__description {
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .about-service__description {
    font-size: 14px;
  }
}

@media (max-width: 350px) {
  .about-service__description {
    font-size: 12px;
  }
}

.sets {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media (max-width: 740px) {
  .sets {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.sets__set {
  width: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
  padding: 20px 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px 1fr;
      grid-template-columns: 80px 1fr;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

@media (max-width: 1024px) {
  .sets__set {
    padding: 10px 30px 20px;
  }
}

@media (max-width: 768px) {
  .sets__set {
    padding: 10px 20px 20px;
    -ms-grid-columns: 70px 1fr;
        grid-template-columns: 70px 1fr;
  }
}

.sets__image-block {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.sets__image-block img {
  width: 100%;
}

.sets__title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #0e0e0f;
  padding: 0 0 5px 0;
}

@media (max-width: 768px) {
  .sets__title {
    font-size: 18px;
  }
}

.sets__description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #0e0e0f;
}

@media (max-width: 768px) {
  .sets__description {
    font-size: 16px;
  }
}

.fourth-blur {
  background: url(../img/blurs/fourth-blur.png) center/100% 100% no-repeat;
}

.order {
  padding: 140px 0;
}

@media (max-width: 1024px) {
  .order {
    padding: 100px 0;
  }
}

@media (max-width: 450px) {
  .order {
    padding: 80px 0;
  }
}

.order__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #0e0e0f;
  text-align: center;
  padding: 0 0 70px 0;
}

@media (max-width: 1024px) {
  .order__title {
    padding: 0 0 50px 0;
    font-size: 32px;
  }
}

@media (max-width: 900px) {
  .order__title {
    padding: 0 0 135px 0;
  }
}

@media (max-width: 768px) {
  .order__title {
    font-size: 28px;
  }
}

@media (max-width: 450px) {
  .order__title {
    font-size: 24px;
    padding: 0 0 95px 0;
  }
}

.order__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 212px;
  height: 48px;
  background: #f9fdff;
  border: 1px solid #00b9b6;
  -webkit-box-shadow: 0px 15px 30px rgba(220, 232, 243, 0.25);
          box-shadow: 0px 15px 30px rgba(220, 232, 243, 0.25);
  border-radius: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #00b9b6;
  margin: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.order__button:hover {
  color: #f9fdff;
  background: #00b9b6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.steps {
  position: relative;
}

.steps__picture-block {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 31%;
  min-width: 200px;
}

@media (max-width: 900px) {
  .steps__picture-block {
    position: relative;
    left: 0;
    -webkit-transform: none;
            transform: none;
    margin: auto;
  }
}

.steps__picture-block img {
  width: 100%;
}

.steps__content-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32% 31% 32%;
      grid-template-columns: 32% 31% 32%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 620px;
}

@media (max-width: 1200px) {
  .steps__content-block {
    height: 50vw;
  }
}

@media (max-width: 900px) {
  .steps__content-block {
    height: auto;
    margin: 0 !important;
  }
}

.steps__content-block .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steps__content-block .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.steps__content-block .slick-dots li {
  width: 35px;
  height: 35px;
  position: relative;
  margin: 0;
}

.steps__content-block .slick-dots li::after {
  content: "";
  width: 20px;
  height: 2px;
  border-radius: 1px;
  background: rgba(0, 185, 182, 0.25);
  position: absolute;
  top: 50%;
  right: -30px;
}

@media (max-width: 450px) {
  .steps__content-block .slick-dots li::after {
    width: 30px;
    right: -35px;
  }
}

.steps__content-block .slick-dots li button {
  width: 35px;
  height: 35px;
}

.steps__content-block .slick-dots li button::before {
  width: 35px;
  height: 35px;
  background: rgba(0, 185, 182, 0.25);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #00b9b6;
  opacity: 1;
  font-family: inherit;
}

.steps__content-block .slick-dots li:nth-of-type(1) button::before {
  content: "1";
}

.steps__content-block .slick-dots li:nth-of-type(2) button::before {
  content: "2";
}

.steps__content-block .slick-dots li:nth-of-type(3) button::before {
  content: "3";
}

.steps__content-block .slick-dots li:nth-of-type(4)::after {
  content: "";
  display: none;
}

.steps__content-block .slick-dots li:nth-of-type(4) button::before {
  content: "4";
}

.steps__content-block .slick-dots .slick-active button::before {
  background: #00b9b6;
  background: #00b9b6;
  color: #fff;
}

.steps__step {
  padding: 0 0 0 45px;
  margin: 45px 0 0 0;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 1024px) {
  .steps__step {
    margin: 20px 0 0 0;
  }
}

@media (max-width: 900px) {
  .steps__step {
    margin: 0;
    padding: 0;
  }
}

.steps__step::before {
  position: absolute;
  left: 0;
  top: -7px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: rgba(0, 185, 182, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #00b9b6;
}

@media (max-width: 900px) {
  .steps__step::before {
    display: none;
  }
}

.steps__step:nth-of-type(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.steps__step:nth-of-type(1)::before {
  content: "1";
}

.steps__step:nth-of-type(2) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.steps__step:nth-of-type(2)::before {
  content: "2";
}

.steps__step:nth-of-type(3) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.steps__step:nth-of-type(3)::before {
  content: "3";
}

.steps__step:nth-of-type(4) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.steps__step:nth-of-type(4)::before {
  content: "4";
}

.steps__step:hover::before {
  background: #00b9b6;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.steps__step h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #0e0e0f;
  padding: 0 0 10px 0;
}

@media (max-width: 900px) {
  .steps__step h4 {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .steps__step h4 {
    font-size: 18px;
  }
}

.steps__step p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #0e0e0f;
}

@media (max-width: 900px) {
  .steps__step p {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .steps__step p {
    font-size: 16px;
  }
}

.fifth-blur {
  background: url(../img/blurs/fifth-blur.png) center/100% 100% no-repeat;
}

.fifth-blur .app__text-block {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

@media (max-width: 1000px) {
  .fifth-blur .app__text-block {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 900px) {
  .fifth-blur .app__text-block {
    grid-column: auto;
    grid-row: auto;
  }
}

.service__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #0e0e0f;
  padding: 0 0 50px 0;
}

@media (max-width: 768px) {
  .service__title {
    padding: 0 0 30px 0;
    font-size: 28px;
  }
}

@media (max-width: 450px) {
  .service__title {
    font-size: 26px;
  }
}

.service__content-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 41fr 59fr;
      grid-template-columns: 41fr 59fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

@media (max-width: 767px) {
  .service__content-block {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 32px;
  }
}

.service__chat-block {
  background: rgba(0, 185, 182, 0.1);
  border-radius: 24px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 1023px) {
  .service__chat-block {
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .service__chat-block {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

.service__sessions-block {
  background: #00b9b6;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 24px;
  padding: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 1023px) {
  .service__sessions-block {
    padding: 30px 20px;
  }
}

.service__popular-mark {
  padding: 8px 16px 10px;
  position: absolute;
  right: 0;
  top: 0px;
  background: #ffa800;
  border-radius: 0px 24px 0px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .service__popular-mark {
    padding: 5px 16px;
  }
}

.service__popular-mark p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
}

@media (max-width: 768px) {
  .service__popular-mark p {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .service__popular-mark p {
    font-size: 12px;
  }
}

.service__list {
  display: -ms-grid;
  display: grid;
  gap: 10px;
}

.service__list li {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #333333;
  padding: 0 0 0 30px;
}

@media (max-width: 768px) {
  .service__list li {
    font-size: 16px;
  }
}

.service__subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #333333;
  padding: 0 0 5px 0;
}

.service__price {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 100%;
  color: #333333;
}

@media (max-width: 1023px) {
  .service__price {
    font-size: 38px;
  }
}

.service__price span {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
}

@media (max-width: 1023px) {
  .service__price span {
    font-size: 18px;
  }
}

.service__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

@media (max-width: 850px) {
  .service__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.service__button {
  width: 139px;
  height: 48px;
  background: #ffffff;
  -webkit-box-shadow: 0px 15px 30px rgba(220, 232, 243, 0.25);
          box-shadow: 0px 15px 30px rgba(220, 232, 243, 0.25);
  border-radius: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #00b9b6;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 850px) {
  .service__button {
    width: 100%;
  }
}

.service__button:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.chat__list li {
  background: url(../img/service/check-chat.svg) left top/20px 20px no-repeat;
}

.chat__button:hover {
  background: #00b9b6;
  color: #fff;
}

.sessions__title {
  color: #ffffff;
}

.sessions__price {
  color: #ffffff;
}

.sessions__list li {
  color: #ffffff;
  background: url(../img/service/check-sessions.svg) left top/20px 20px no-repeat;
}

.sessions__inputs {
  width: 100%;
}

.sessions__input {
  padding: 0px calc(100% - 97px) 0 30px;
  height: 48px;
  background: #ffffff;
  border-radius: 12px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  color: #333333;
  text-align: center;
  -moz-appearance: textfield;
}

@media (max-width: 359px) {
  .sessions__input {
    padding: 0px calc(100% - 65px) 0 20px;
  }
}

.sessions__input::-webkit-outer-spin-button, .sessions__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sessions__button:hover {
  background: #d4ffff;
}

.input {
  position: relative;
}

.input__minute {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  color: #afafaf;
  position: absolute;
  right: calc(20px + 50%);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 1023px) {
  .input__minute {
    right: calc(20px + 40%);
  }
}

@media (max-width: 450px) {
  .input__minute {
    right: calc(110px + 20px);
  }
}

.input__vertical-bar {
  width: 2px;
  height: 48px;
  background-color: #e0e0e0;
  border-radius: 1px;
  position: absolute;
  right: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 1023px) {
  .input__vertical-bar {
    right: 40%;
  }
}

@media (max-width: 450px) {
  .input__vertical-bar {
    right: 110px;
  }
}

.input__multiply-number {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  color: #333333;
  position: absolute;
  left: calc(20px + 50%);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 1023px) {
  .input__multiply-number {
    left: calc(20px + 60%);
  }
}

@media (max-width: 450px) {
  .input__multiply-number {
    left: calc(100% - 110px + 20px);
  }
}

.input__ruble {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  color: #afafaf;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.input__arrow-left {
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

@media (max-width: 359px) {
  .input__arrow-left {
    left: 10px;
  }
}

.input__arrow-right {
  position: absolute;
  left: 97px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  cursor: pointer;
}

@media (max-width: 359px) {
  .input__arrow-right {
    left: 65px;
  }
}

.comments__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #0e0e0f;
}

@media (max-width: 1024px) {
  .comments__title {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .comments__title {
    font-size: 28px;
  }
}

@media (max-width: 450px) {
  .comments__title {
    padding: 0 0 40px 0;
    font-size: 26px;
    text-align: center;
  }
}

.comments__slider {
  position: relative;
  left: calc((100% - 1120px) / 2);
  width: calc(((100% - 1120px) / 2) + 1120px);
}

@media (max-width: 1200px) {
  .comments__slider {
    left: 40px;
    width: calc((100% - 80px));
  }
}

@media (max-width: 450px) {
  .comments__slider {
    left: 20px;
  }
}

.comments__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 50px 0;
  z-index: 1;
}

.comments__slider .slick-slide {
  width: 550px;
}

.comments__slider .slick-current + .slick-slide ~ .slick-slide {
  opacity: 0.5;
}

.comments__slider .slick-dots {
  bottom: 0;
  position: relative;
  left: calc((100% - 1120px) / -2);
}

@media (max-width: 1200px) {
  .comments__slider .slick-dots {
    left: 0;
  }
}

.comments__slider .slick-dots li {
  width: 20px;
  height: 6px;
}

.comments__slider .slick-dots li button::before {
  width: 20px;
  height: 6px;
  background-color: #00b9b6;
  border-radius: 3px;
  content: "";
}

.comments__slider .slick-dots .slick-active {
  width: 30px;
  height: 6px;
}

.comments__slider .slick-dots .slick-active button::before {
  width: 30px;
  height: 6px;
  background-color: #00b9b6;
  border-radius: 3px;
  content: "";
}

.comment {
  padding: 30px;
  background: #ffffff;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
  display: -ms-grid !important;
  display: grid !important;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 10px 20px;
}

@media (max-width: 1200px) {
  .comment {
    width: auto;
  }
}

@media (max-width: 900px) {
  .comment {
    -ms-grid-columns: 70px auto;
        grid-template-columns: 70px auto;
  }
}

.comment__picture {
  width: 100px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

@media (max-width: 900px) {
  .comment__picture {
    width: 70px;
    grid-row: auto;
  }
}

.comment__picture img {
  width: 100%;
}

.comment__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 900px) {
  .comment__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.comment__name {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333333;
}

.comment__profession {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #333333;
}

.comment__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.comment__stars img {
  width: 14px;
}

.comment__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333333;
}

@media (max-width: 900px) {
  .comment__text {
    font-size: 14px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}
/*# sourceMappingURL=style.css.map */